# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
temp.py


# Environment
.env


# VSCode or other IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs or temporary files
*.log
*.tmp
data.json

# Virtual environment folders
venv/
env/
