# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
temp.py
bet.py

# Environment
.env
.cursorrules

# VSCode or other IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs or temporary files
*.log
*.tmp
data.json
wagerbot.db
schema.sql
Update.sql

# Virtual environment folders
venv/
env/
wagerbot.db.bak


# Tests
Tests/
test_bet_functionality.py
